/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__details {
  font-family: "fantasy", cursive;
}

.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task-add__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.task-add__wrapper {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
li, h3 {
  list-style: none;
}
input,button{
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3A3a;
}
/* Heading */
h3,
.task-add__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task-add__input,
.task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
}
.task-add__input:focus,
.task__input:focus {
  color: #333;
}

/* New Task */
.task-add__label {
  display: block;
  margin: 0 0 20px;
}
.task-add__input {
  width: 318px;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task > * {
  vertical-align: middle;
}

.task > .task__checkbox {
  margin: 0 10px;
}
.task > .task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task > .task__input,
.task > .task-add__input{
  width: 226px;
}

.button-delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button-delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.tasks-list#completed-tasks .task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks-list .task .task-add__input,
.tasks-list .task .task__input {
  display: none
}

.tasks-list .task.task-edit .task-add__input,
.tasks-list .task.task-edit .task__input {
  display: inline-block;
  width: 224px
}

.tasks-list .task.task-edit .task__label {
  display: none;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}